<div class="auglysing">
    <a href="https://www.starwars.com/" target="_blank" class="augl">
        <div class="ad">
            <div class="innihald">
                <img src="image\1468080136_stormtrooper_wallpaper_by_inmobilus.jpg" class="myndStorm" id="stormTrooper">
                <h4 id="spurning">Hefur þig dreymt um að verða stormsveitarmaður síðan þú manst eftir þér?</h4>
                <h4 id="skipun">Gakktu þá til liðs við keisaraveldið og saman munum við stjórna vetrarbrautinni!</h4>
                <button class="thoughtbot">Ganga til liðs</button>
            </div>
        </div>
    </a> 
</div>