<div class="sMedia">
    <div class="website">
        <a href="https://d4nni.github.io/PersonalWebsite/" title="Personal Website">
            <span class="icon-website"></span>
        </a>
    </div>
    <div class="insta">
        <a href="https://www.instagram.com/danniingolfs/" title="Instagram">
            <span class="icon-instagram"></span>
        </a>
    </div>
    <div class="facebook">
        <a href="https://www.facebook.com/danniingolfs" title="Facebook">
            <span class="icon-facebook"></span>
        </a>
    </div>
    <div class="twitter">
        <a href="https://twitter.com/DanielIngolfs" title="Twitter">
            <span class="icon-twitter"></span>
        </a>
    </div>
</div>